<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <h3>Inventory</h3>
    <hr>
    <div class="row">
        &nbsp;
    </div>

    <!-- Blank Row -->
    <div class="row">
    &nbsp;
    </div>
    <div class="row">
        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="inventory-table">
                <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Client</th>
                    <th scope="col">Client SKU</th>
                    <th scope="col">Ava. Quantity</th>
                    <th scope="col">All. Quantity</th>
                    <th scope="col">Full. Quantity</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/inventory.js}"/></script>
<script th:src="@{/static/notify.js}"/></script>
<script th:src="@{/static/notify.min.js}"/></script>

</body>

</html>